.loginContainer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}


.loginContainer form {
  max-width: 20rem;
  margin: auto;
}

.loginContainer form input{
  width: 100%;
}

.loginContainer form label{
  text-align: left;
  display: block;
}