.snackbarContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.snackbarContainer.error {
  background-color: lightcoral;
}

.snackbarContainer.warning {
  background-color: orange;;
}

.snackbarContainer.info {
  background-color: lightblue;;
}

.snackbarContainer.success {
  background-color: lightgreen;
}

.cloceBtn {
  position: absolute;
  top: 0.25rem;
  right: 0.4rem;
}



